.container {
  padding-inline: 1rem;
}
.header {
  display: grid;
    column-gap: 0.75rem;
    grid-template-areas:
      'lead-in _'
      'logo heading'
      'line subheading';
    grid-template-columns: clamp(2rem, 8%, 6rem) 1fr;
    grid-template-rows: 10rem 3rem 1fr;
    row-gap: 1.5rem;
  padding-block: 0.5rem;

  @media screen and (min-width: 48rem) {
    column-gap: 0.5rem;
  }
  @media screen and (min-width: 64rem) {
    column-gap: 0;
  }
}
.logoWrapper {
  display: flex;
    justify-content: center;
  grid-area: logo;

  svg {
    filter: drop-shadow(0 0.25rem 1.5rem rgba(0, 0, 0, 1));
    max-height: 100%;
    max-width: 100%;
  }
}
.heading {
  grid-area: heading;
  
  h2 {
    font-size: 2rem;
    font-weight: 600;
  }
}
.subheading {
  color: var(--slate-11);
  font-size: 1.125rem;
  grid-area: subheading;
  margin-right: 1rem;
  margin-bottom: 6rem;
  max-width: 32em;

  strong {
    color: var(--slate-12);
    font-weight: 400;
  }
}
.contentPlaceholder {
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  color: var(--slate-9);
  display: grid;
    place-items: center;
  font-family: var(--font-mono);
  height: 50vh;
  user-select: none;
}
