
form button,
form button[type='submit'] {
  background-color: var(--green-8);
  border: 1px solid var(--green-9);
  border-radius: 0.25rem;
  color: #fff;
  display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
  font-weight: 500;
  height: 1.75rem;

  &:disabled {
    background-color: var(--slate-8);
    border-color: var(--slate-9);
  }
}
