:root {
  --black-a1: hsla(0, 0%, 0%, 0.012);
  --black-a2: hsla(0, 0%, 0%, 0.027);
  --black-a3: hsla(0, 0%, 0%, 0.047);
  --black-a4: hsla(0, 0%, 0%, 0.071);
  --black-a5: hsla(0, 0%, 0%, 0.090);
  --black-a6: hsla(0, 0%, 0%, 0.114);
  --black-a7: hsla(0, 0%, 0%, 0.141);
  --black-a8: hsla(0, 0%, 0%, 0.220);
  --black-a9: hsla(0, 0%, 0%, 0.439);
  --black-a10: hsla(0, 0%, 0%, 0.478);
  --black-a11: hsla(0, 0%, 0%, 0.565);
  --black-a12: hsla(0, 0%, 0%, 0.910);

  --blue-1: hsl(206, 100%, 99.2%);
  --blue-2: hsl(210, 100%, 98.0%);
  --blue-3: hsl(209, 100%, 96.5%);
  --blue-4: hsl(210, 98.8%, 94.0%);
  --blue-5: hsl(209, 95.0%, 90.1%);
  --blue-6: hsl(209, 81.2%, 84.5%);
  --blue-7: hsl(208, 77.5%, 76.9%);
  --blue-8: hsl(206, 81.9%, 65.3%);
  --blue-9: hsl(206, 100%, 50.0%);
  --blue-10: hsl(208, 100%, 47.3%);
  --blue-11: hsl(211, 100%, 43.2%);
  --blue-12: hsl(211, 100%, 15.0%);

  --green-1: hsl(136, 50.0%, 98.9%);
  --green-2: hsl(138, 62.5%, 96.9%);
  --green-3: hsl(139, 55.2%, 94.5%);
  --green-4: hsl(140, 48.7%, 91.0%);
  --green-5: hsl(141, 43.7%, 86.0%);
  --green-6: hsl(143, 40.3%, 79.0%);
  --green-7: hsl(146, 38.5%, 69.0%);
  --green-8: hsl(151, 40.2%, 54.1%);
  --green-9: hsl(151, 55.0%, 41.5%);
  --green-10: hsl(152, 57.5%, 37.6%);
  --green-11: hsl(153, 67.0%, 28.5%);
  --green-12: hsl(155, 40.0%, 14.0%);
  --green-a1: hsla(140, 94.9%, 38.7%, 0.016);
  --green-a2: hsla(138, 99.9%, 38.5%, 0.051);
  --green-a3: hsla(139, 97.7%, 36.9%, 0.087);
  --green-a4: hsla(139, 98.5%, 32.7%, 0.134);
  --green-a5: hsla(141, 100%, 30.4%, 0.200);
  --green-a6: hsla(142, 99.0%, 28.9%, 0.295);
  --green-a7: hsla(146, 99.5%, 27.6%, 0.428);
  --green-a8: hsla(151, 99.5%, 28.8%, 0.644);
  --green-a9: hsla(151, 99.9%, 28.0%, 0.812);
  --green-a10: hsla(152, 99.6%, 25.8%, 0.840);
  --green-a11: hsla(153, 99.9%, 21.0%, 0.906);
  --green-a12: hsla(155, 99.4%, 6.2%, 0.918);

  --orange-1: hsl(24, 70.0%, 99.0%);
  --orange-2: hsl(24, 83.3%, 97.6%);
  --orange-3: hsl(24, 100%, 95.3%);
  --orange-4: hsl(25, 100%, 92.2%);
  --orange-5: hsl(25, 100%, 88.2%);
  --orange-6: hsl(25, 100%, 82.8%);
  --orange-7: hsl(24, 100%, 75.3%);
  --orange-8: hsl(24, 94.5%, 64.3%);
  --orange-9: hsl(24, 94.0%, 50.0%);
  --orange-10: hsl(24, 100%, 46.5%);
  --orange-11: hsl(24, 100%, 37.0%);
  --orange-12: hsl(15, 60.0%, 17.0%);
  --orange-a1: hsla(20, 94.9%, 38.7%, 0.016);
  --orange-a2: hsla(24, 95.8%, 46.5%, 0.044);
  --orange-a3: hsla(25, 100%, 50.5%, 0.095);
  --orange-a4: hsla(26, 100%, 50.0%, 0.157);
  --orange-a5: hsla(25, 100%, 50.1%, 0.236);
  --orange-a6: hsla(25, 100%, 50.1%, 0.346);
  --orange-a7: hsla(24, 100%, 50.1%, 0.495);
  --orange-a8: hsla(24, 99.7%, 48.7%, 0.695);
  --orange-a9: hsla(24, 99.9%, 48.4%, 0.969);
  --orange-a10: hsla(23, 100%, 46.4%, 0.980);
  --orange-a11: hsla(23, 100%, 36.8%, 0.980);
  --orange-a12: hsla(15, 99.4%, 11.0%, 0.934);

  --red-1: hsl(359, 100%, 99.4%);
  --red-2: hsl(359, 100%, 98.6%);
  --red-3: hsl(360, 100%, 96.8%);
  --red-4: hsl(360, 97.9%, 94.8%);
  --red-5: hsl(360, 90.2%, 91.9%);
  --red-6: hsl(360, 81.7%, 87.8%);
  --red-7: hsl(359, 74.2%, 81.7%);
  --red-8: hsl(359, 69.5%, 74.3%);
  --red-9: hsl(358, 75.0%, 59.0%);
  --red-10: hsl(358, 69.4%, 55.2%);
  --red-11: hsl(358, 65.0%, 48.7%);
  --red-12: hsl(354, 50.0%, 14.6%);
  --red-a1: hsla(0, 100%, 51.0%, 0.012);
  --red-a2: hsla(0, 100%, 51.0%, 0.032);
  --red-a3: hsla(0, 100%, 50.2%, 0.063);
  --red-a4: hsla(0, 100%, 50.0%, 0.102);
  --red-a5: hsla(0, 99.9%, 47.5%, 0.153);
  --red-a6: hsla(0, 99.5%, 44.9%, 0.224);
  --red-a7: hsla(359, 99.7%, 42.7%, 0.318);
  --red-a8: hsla(359, 99.6%, 41.1%, 0.436);
  --red-a9: hsla(358, 99.9%, 42.9%, 0.718);
  --red-a10: hsla(358, 99.9%, 41.0%, 0.761);
  --red-a11: hsla(358, 99.8%, 38.3%, 0.832);
  --red-a12: hsla(355, 99.3%, 7.9%, 0.926);

  --slate-1: hsl(206, 30.0%, 98.8%);
  --slate-2: hsl(210, 16.7%, 97.6%);
  --slate-3: hsl(209, 13.3%, 95.3%);
  --slate-4: hsl(209, 12.2%, 93.2%);
  --slate-5: hsl(208, 11.7%, 91.1%);
  --slate-6: hsl(208, 11.3%, 88.9%);
  --slate-7: hsl(207, 11.1%, 85.9%);
  --slate-8: hsl(205, 10.7%, 78.0%);
  --slate-9: hsl(206, 6.0%, 56.1%);
  --slate-10: hsl(206, 5.8%, 52.3%);
  --slate-11: hsl(206, 6.0%, 43.5%);
  --slate-12: hsl(206, 24.0%, 9.0%);
  --slate-a1: hsla(210, 92.6%, 26.5%, 0.016);
  --slate-a2: hsla(210, 87.7%, 16.0%, 0.028);
  --slate-a3: hsla(210, 98.8%, 14.4%, 0.055);
  --slate-a4: hsla(210, 94.1%, 11.1%, 0.075);
  --slate-a5: hsla(216, 91.1%, 10.9%, 0.099);
  --slate-a6: hsla(206, 96.4%, 11.3%, 0.126);
  --slate-a7: hsla(210, 99.1%, 10.1%, 0.157);
  --slate-a8: hsla(205, 96.5%, 10.0%, 0.244);
  --slate-a9: hsla(206, 98.8%, 5.9%, 0.467);
  --slate-a10: hsla(206, 99.6%, 5.4%, 0.506);
  --slate-a11: hsla(206, 97.0%, 4.8%, 0.593);
  --slate-a12: hsla(202, 97.0%, 2.4%, 0.934);

  --yellow-1: hsl(60, 54.0%, 98.5%);
  --yellow-2: hsl(52, 100%, 95.5%);
  --yellow-3: hsl(55, 100%, 90.9%);
  --yellow-4: hsl(54, 100%, 86.6%);
  --yellow-5: hsl(52, 97.9%, 82.0%);
  --yellow-6: hsl(50, 89.4%, 76.1%);
  --yellow-7: hsl(47, 80.4%, 68.0%);
  --yellow-8: hsl(48, 100%, 46.1%);
  --yellow-9: hsl(53, 92.0%, 50.0%);
  --yellow-10: hsl(50, 100%, 48.5%);
  --yellow-11: hsl(42, 100%, 29.0%);
  --yellow-12: hsl(40, 55.0%, 13.5%);
}


[data-theme='dark'] {
  --blue-1: hsl(212, 35.0%, 9.2%);
  --blue-2: hsl(216, 50.0%, 11.8%);
  --blue-3: hsl(214, 59.4%, 15.3%);
  --blue-4: hsl(214, 65.8%, 17.9%);
  --blue-5: hsl(213, 71.2%, 20.2%);
  --blue-6: hsl(212, 77.4%, 23.1%);
  --blue-7: hsl(211, 85.1%, 27.4%);
  --blue-8: hsl(211, 89.7%, 34.1%);
  --blue-9: hsl(206, 100%, 50.0%);
  --blue-10: hsl(209, 100%, 60.6%);
  --blue-11: hsl(210, 100%, 66.1%);
  --blue-12: hsl(206, 98.0%, 95.8%);

  --green-1: hsl(146, 30.0%, 7.4%);
  --green-2: hsl(155, 44.2%, 8.4%);
  --green-3: hsl(155, 46.7%, 10.9%);
  --green-4: hsl(154, 48.4%, 12.9%);
  --green-5: hsl(154, 49.7%, 14.9%);
  --green-6: hsl(154, 50.9%, 17.6%);
  --green-7: hsl(153, 51.8%, 21.8%);
  --green-8: hsl(151, 51.7%, 28.4%);
  --green-9: hsl(151, 55.0%, 41.5%);
  --green-10: hsl(151, 49.3%, 46.5%);
  --green-11: hsl(151, 50.0%, 53.2%);
  --green-12: hsl(137, 72.0%, 94.0%);
  --green-a1: hsla(0, 0%, 0%, 0);
  --green-a2: hsla(169, 100%, 48.5%, 0.027);
  --green-a3: hsla(162, 98.7%, 57.9%, 0.070);
  --green-a4: hsla(158, 98.6%, 59.7%, 0.105);
  --green-a5: hsla(158, 98.6%, 60.7%, 0.140);
  --green-a6: hsla(156, 99.9%, 62.0%, 0.187);
  --green-a7: hsla(154, 99.5%, 63.1%, 0.257);
  --green-a8: hsla(152, 99.7%, 64.2%, 0.370);
  --green-a9: hsla(151, 99.7%, 63.8%, 0.605);
  --green-a10: hsla(152, 99.9%, 66.5%, 0.661);
  --green-a11: hsla(151, 99.7%, 69.2%, 0.740);
  --green-a12: hsla(137, 100%, 95.8%, 0.980);

  --orange-1: hsl(30, 70.0%, 7.2%);
  --orange-2: hsl(28, 100%, 8.4%);
  --orange-3: hsl(26, 91.1%, 11.6%);
  --orange-4: hsl(25, 88.3%, 14.1%);
  --orange-5: hsl(24, 87.6%, 16.6%);
  --orange-6: hsl(24, 88.6%, 19.8%);
  --orange-7: hsl(24, 92.4%, 24.0%);
  --orange-8: hsl(25, 100%, 29.0%);
  --orange-9: hsl(24, 94.0%, 50.0%);
  --orange-10: hsl(24, 100%, 58.5%);
  --orange-11: hsl(24, 100%, 62.2%);
  --orange-12: hsl(24, 97.0%, 93.2%);

  --red-1: hsl(353, 23.0%, 9.8%);
  --red-2: hsl(357, 34.4%, 12.0%);
  --red-3: hsl(356, 43.4%, 16.4%);
  --red-4: hsl(356, 47.6%, 19.2%);
  --red-5: hsl(356, 51.1%, 21.9%);
  --red-6: hsl(356, 55.2%, 25.9%);
  --red-7: hsl(357, 60.2%, 31.8%);
  --red-8: hsl(358, 65.0%, 40.4%);
  --red-9: hsl(358, 75.0%, 59.0%);
  --red-10: hsl(358, 85.3%, 64.0%);
  --red-11: hsl(358, 100%, 69.5%);
  --red-12: hsl(351, 89.0%, 96.0%);

  --slate-1: hsl(200, 7.0%, 8.8%);
  --slate-2: hsl(195, 7.1%, 11.0%);
  --slate-3: hsl(197, 6.8%, 13.6%);
  --slate-4: hsl(198, 6.6%, 15.8%);
  --slate-5: hsl(199, 6.4%, 17.9%);
  --slate-6: hsl(201, 6.2%, 20.5%);
  --slate-7: hsl(203, 6.0%, 24.3%);
  --slate-8: hsl(207, 5.6%, 31.6%);
  --slate-9: hsl(206, 6.0%, 43.9%);
  --slate-10: hsl(206, 5.2%, 49.5%);
  --slate-11: hsl(206, 6.0%, 63.0%);
  --slate-12: hsl(210, 6.0%, 93.0%);
  --slate-a1: hsla(0, 0%, 0%, 0);
  --slate-a2: hsla(181, 98.9%, 91.8%, 0.026);
  --slate-a3: hsla(182, 86.7%, 91.4%, 0.057);
  --slate-a4: hsla(209, 86.7%, 93.9%, 0.083);
  --slate-a5: hsla(200, 90.3%, 93.4%, 0.109);
  --slate-a6: hsla(209, 95.3%, 93.5%, 0.139);
  --slate-a7: hsla(204, 98.5%, 93.9%, 0.182);
  --slate-a8: hsla(209, 94.0%, 94.7%, 0.265);
  --slate-a9: hsla(207, 97.3%, 94.0%, 0.412);
  --slate-a10: hsla(209, 99.4%, 95.2%, 0.472);
  --slate-a11: hsla(208, 98.7%, 96.8%, 0.615);
  --slate-a12: hsla(211, 86.7%, 99.6%, 0.927);

  --yellow-1: hsl(45, 100%, 5.5%);
  --yellow-2: hsl(46, 100%, 6.7%);
  --yellow-3: hsl(45, 100%, 8.7%);
  --yellow-4: hsl(45, 100%, 10.4%);
  --yellow-5: hsl(47, 100%, 12.1%);
  --yellow-6: hsl(49, 100%, 14.3%);
  --yellow-7: hsl(49, 90.3%, 18.4%);
  --yellow-8: hsl(50, 100%, 22.0%);
  --yellow-9: hsl(53, 92.0%, 50.0%);
  --yellow-10: hsl(54, 100%, 68.0%);
  --yellow-11: hsl(48, 100%, 47.0%);
  --yellow-12: hsl(53, 100%, 91.0%);
}
