@use 'buttons';
@use 'colors';
@use 'input';

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-background: hsl(0, 0%, 100%);
  --color-surface-secondary: hsl(210, 40%, 96%);
  --color-surface-secondary: #f1ede7;

  --color-text-primary: hsl(222, 47%, 11%);
  --color-text-secondary: hsl(222, 9%, 55%);

  --color-border-primary: hsl(214, 32%, 91%);

  --color-green: #14b8a6;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --surface-tertiary: rgb(16, 36, 62);

  --text-rgb: 15, 23, 32;
}

[data-theme='dark'] {
  --color-background: var(--slate-1);
  --color-surface-secondary: hsl(217, 33%, 17%);

  --color-text-primary:hsl(0, 0%, 100%);

  --color-border-primary: hsl(215, 19%, 35%);

  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  --surface-tertiary: rgb(16, 36, 62);

  --text-rgb: 255, 255, 255;
}

*:focus {
  outline: 2px solid var(--color-green);
}

html {
  background-color: var(--color-background);
}

body {
  background-image: radial-gradient(var(--slate-4) 1px, transparent 2px);
  background-position: 0 0, 50% 50%;
  background-size: 40px 40px;
  color: var(--slate-12);
  display: flex;
    flex-direction: column;
  font-family: var(--font-inter);
  min-height: 100dvh;
}

main {
  display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.hero {
  display: flex;
    justify-content: flex-end;
    flex-direction: column;
  padding: 2rem;

  &--max {
    justify-content: center;
    min-height: 50svh;
  }
}

h1 {
  font-size: 6rem;
  font-weight: 800;
  letter-spacing: -0.025em;
}
