.input-wrapper {
  display: flex;
    flex-direction: column;
    gap: 0.25rem;
  user-select: none;
  
  .instructions {
    display: flex;
      align-items: baseline;
      justify-content: space-between;
  }
  .message {
    color: var(--red-9);
    font-size: 0.75rem;
    text-align: right;
  }
}
label {
  color: var(--slate-9);
  font-family: var(--font-mono);
  font-size: 0.75rem;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
input {
  background: none;
  border: none;

  &[type='email'],
  &[type='text'] {
    border-bottom: 1px solid var(--slate-5);
    font-family: var(--font-mono);
    padding-bottom: 0.5rem;

    &:focus {
      border-color: var(--green-9);
      outline: none;
    }
  }

}
