.root {
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
    place-items: center;
  overflow: hidden;
  user-select: none;
  width: attr(data-size);
}
.image {
  border-radius: inherit;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.fallback {
  background-color: var(--slate-12);
  color: var(--color-background);
  display: grid;
    place-items: center;
  font-weight: 500;
  height: 100%;
  text-transform: uppercase;
  width: 100%;
}
