.dashboardContainer {
  margin: 0 auto;
  max-width: 58rem;
  padding-inline: 1rem;
  width: 100%;
}
.dashboardHeader {
  display: flex;
    align-items: center;
    gap: 1rem;
    // justify-content: space-between;
  margin-bottom: 2.5rem;
  padding-top: 4rem;
  padding-left: 0.5rem;

  :global {
    .text {
      display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }
    .name {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.1em;
    }
    .email {
      color: var(--slate-11);
      font-size: 0.875rem;
    }
  }
  
  @media (min-width: 680px) {
    padding-top: 8rem;
  }
}
.dashboardLayout {
  display: flex;
    flex-direction: column;
    gap: 2rem;
  
  @media (min-width: 680px) {
    align-items: flex-start;
    flex-direction: row;
  }
}
.dashboardNav {
  display: flex;
    flex-direction: column;

  a {
    border-radius: 0.25rem;
    color: var(--slate-11);
    display: flex;
      align-items: center;
      gap: 0.75rem;
      justify-content: space-between;
    height: 2rem;
    padding-inline: 0.5rem;

    &:global {
      &.active {
        color: var(--green-9);
        font-weight: 500;


        &.delete {
          color: var(--red-9);
        }

        @media (min-width: 680px) {
          &::after {
            content: '»';
          }
        }
      }
    }

    @media (min-width: 680px) {
      justify-content: flex-start;

      svg {
        display: none;
      }
    }
  }
  hr {
    border-color: var(--slate-5);
    margin: 0.25rem 0.5rem;

    @media (min-width: 680px) {
      margin-block: 0.75rem;
    }
  }
  
  @media (min-width: 680px) {
    min-width: 12rem;
    width: 25%;
  }
}
.dashboardContent {
  @media (min-width: 680px) {
    width: 75%;
  }
}
.navLinks {
  display: none;

  @media (min-width: 680px) {
    display: flex;
      flex-direction: column;
  }
}

.root {
  position: relative;

  @media (min-width: 680px) {
    display: none;
  }
}
.trigger {
  border: 1px solid var(--slate-3);
  border-radius: 0.25rem;
  color: var(--slate-11);
  display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
  height: calc(2.5rem + 2px);
  padding-inline: 0.5rem;
  width: 100%;
}
.icon {
  color: var(--slate-11);
}
.content {
  border-radius: 0.25rem;
  display: flex;
    flex-direction: column;
  padding-block: 0.25rem;

  &:global {
    &[data-state='open'] {
      border: 1px solid var(--slate-3);
    }
  }
}
