
.navbar {
  display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
  height: 5rem;
  margin-top: 1rem;
  padding: 1.25rem 1rem;
  user-select: none;
  z-index: 1000;

  @media (min-width: 800px) {
    padding: 1.25rem 1.5rem;
  }

  :global {
    .ta-logo {
      height: 3rem;
      stroke: var(--slate-12);
      stroke-width: 2;
      transition: stroke 0.1s ease-in-out;
    }
  }
}
