$first-breakpoint: 52rem;
$second-breakpoint: 66rem;

.copyright {
  display: flex;
    align-items: center;
    justify-content: center;
  font-size: 0.75rem;
  grid-area: copyright;
}
.ctaWrapper {
  display: flex;
    justify-content: center;
  grid-area: cta;
}
.footer {
  background-color: var(--color-background);
  border-top: 1px solid var(--slate-3);
  padding-block: 2.5rem;

  :global {
    section {
      margin: 0 auto;
      max-width: 92rem;
      padding-inline: 1rem;

      &.main {
        display: grid;
          column-gap: 2rem;
          grid-template-areas: 'wordmark' 'navigation' 'cta';
          grid-template-columns: auto;
          grid-template-rows: max-content max-content max-content;
          row-gap: 2rem;
        max-width: 32rem;
          
        @media (min-width: $first-breakpoint) {
          grid-template-areas: 'wordmark cta' 'navigation cta';
          grid-template-columns: auto min(50%, 32rem);  // Revisit 50%
          grid-template-rows: max-content max-content;
          row-gap: 0;
          max-width: 92rem;
        }
        
        @media (min-width: $second-breakpoint) {
          grid-template-areas: 'wordmark navigation cta';
          grid-template-columns: max-content auto min(42%, 32rem);
          grid-template-rows: max-content;
        }
      }

      @media (min-width: $first-breakpoint) {
        padding-inline: 2rem;
      }
    }
  }
}
.footerFooter {
  border-top: 1px solid var(--slate-3);
  color: var(--slate-9);
  display: grid;
    column-gap: 1.25rem;
    grid-template-areas: 'legal social' 'copyright copyright';
    grid-template-columns: auto max-content;
    grid-template-rows: max-content max-content;
    row-gap: 0.75rem;
  margin-top: 2.5rem;
  padding-top: 0.75rem;
  padding-inline: 1rem;
          
  @media (min-width: 36rem) {
    grid-template-areas: 'copyright legal social';
    grid-template-columns: max-content auto max-content;
    grid-template-rows: max-content;
    padding-inline: 0;
  }
}
.legal {
  display: flex;
    align-items: center;
    gap: 1.25rem;
  font-size: 0.75rem;
  grid-area: legal;

  a {
    transition: color 0.1s ease-in-out;

    &:hover {
      color: var(--green-9);
      text-decoration: underline;
    }
  }
}
.navigation {
  display: flex;
    justify-content: flex-start;
  padding-inline: 1.25rem;

  a {
    color: var(--slate-11);
    display: flex;
      align-items: center;
    font-size: 0.875rem;
    height: 2rem;
    transition: color 0.1s ease-in-out;
    
    &:hover {
      color: var(--slate-12);
    }
  }
  span {
    margin-bottom: 0.75rem;
  }

  :global {
    .categories {
      display: grid;
        column-gap: 1rem;
        grid-template-columns: 1fr 1fr;
      flex-grow: 1;
      max-width: 32rem;

      @media (min-width: $first-breakpoint) {
        max-width: 20rem;
      }
    }
    .category {
      display: flex;
        flex-direction: column;

      @media (min-width: $first-breakpoint) {
        margin-top: 1.25rem;
      }
    }
  }

  @media (min-width: $second-breakpoint) {
    justify-content: center;
  }
}
.socials {
  font-size: 1.25rem;
  display: flex;
  grid-area: social;
  position: relative;
    right: -0.625rem;

  a {
    border-radius: 0.25rem;
    display: grid;
      place-items: center;
    height: 2.5rem;
    transition: color 0.1s ease-in-out;
    width: 2.5rem;

    &:global {
      &.linkedin:focus,
      &.linkedin:hover {
        color: #0077b5;
      }
      &.github:focus,
      &.github:hover {
        color: #6e40c9;
      }
      &.dribbble:focus,
      &.dribbble:hover {
        color: #ea4c89;
      }
    }
  }
}
.wordmark {
  align-self: flex-start;
  font-family: var(--font-mono);

  :global {
    .cursor {
      color: var(--red-9);
      user-select: none;
    }
    .line {
      color: var(--slate-9);
      user-select: none;
    }
  }

  @media (min-width: $first-breakpoint) {
    margin-top: 1.25rem;
  }
}
