.content {
  margin-inline: auto;
  max-width: 80rem;
  position: relative;

  &::after {
    background: linear-gradient(rgba(232, 223, 205, 0), rgba(232, 223, 205, 1));
    border-radius: 2px;
    content: '';
    height: 10rem;
    position: absolute;
      bottom: -10rem; left: 4%;
    transform: translateX(-2px);
    width: 4px;
  }
}
.line {
  background: linear-gradient(rgba(242, 59, 46, 1), rgba(242, 59, 46, 0));
  border-radius: 2px;
  grid-area: line;
  height: 100%;
  margin-inline: auto;
  width: 4px;
}
