.content {
  margin-inline: auto;
  max-width: 80rem;
  position: relative;
}
.lineIn {
  background: linear-gradient(rgba(242, 59, 46, 0), rgba(242, 59, 46, 1));
  border-radius: 2px;
  grid-area: lead-in;
  height: 100%;
  margin-inline: auto;
  width: 4px;
}
.lineOut {
  background: linear-gradient(rgba(242, 59, 46, 1), rgba(242, 59, 46, 0));
  border-radius: 2px;
  grid-area: line;
  height: 100%;
  margin-inline: auto;
  width: 4px;
}
