
.form {
  display: flex;
    flex-direction: column;
    gap: 1rem;
  max-width: 23rem;
  width: 100%;
}
.emailPrompt {
  display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  padding-block: 0.5rem;

  svg {
    color: var(--green-9);
    font-size: 1.5rem;
  }
}
.emailPromptText {
  font-size: 0.875rem;
  color: var(--slate-9);
}
