
.centerCenter {
  background-color: var(--color-background);
  display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
  margin-top: -6rem;
  padding-bottom: 6rem;
  position: relative;

  @media (min-width: 1280px) {
    border-right: 1px solid var(--slate-3);
    width: 40%;
  }
}
.backLink {
  border-radius: 0.25rem;
  display: flex;
    align-items: center;
    gap: 0.5rem;
  height: 2rem;
  padding-inline: 1rem;
  position: absolute;
    top: 7rem;
    left: 2rem;
}
.featured {
  display: none;

  @media (min-width: 1280px) {
    width: 60%;
  }
}
