.content {
  margin-inline: auto;
  max-width: 80rem;
  position: relative;
}
.line {
  background: linear-gradient(rgba(232, 223, 205, 1), rgba(232, 223, 205, 0));
  border-radius: 2px;
  grid-area: line;
  height: 100%;
  margin-inline: auto;
  width: 4px;
}
