.borderRadius {
  aspect-ratio: 1;
  border-radius: 0.5rem;
  overflow: hidden;
}
.content {
  margin-inline: auto;
  max-width: 80rem;
  position: relative;
}
.lineIn {
  background: linear-gradient(rgba(209, 200, 182, 0), rgba(209, 200, 182, 1));
  border-radius: 2px;
  grid-area: lead-in;
  height: 100%;
  margin-inline: auto;
  width: 4px;
}
.lineOut {
  background: linear-gradient(rgba(209, 200, 182, 1), rgba(209, 200, 182, 0));
  border-radius: 2px;
  grid-area: line;
  height: 100%;
  margin-inline: auto;
  width: 4px;
}
