.cardList {
  display: flex;
    flex-wrap: wrap;
    gap: max(4%, 2rem);
    justify-content: center;
  margin: 1.5rem auto 0;
  width: 100%;

  @media screen and (min-width: 918px) {
    flex-wrap: nowrap;
  }
}
.card {
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 128rem -3rem var(--previous-brand-color);
  display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
  max-width: 20rem;
  min-width: 14rem;
  padding: 2.5rem 1.5rem 2rem;
  transition:
    border-color 0.2s  ease-in-out,
    box-shadow   0.33s ease-in-out;

  p {
    color: var(--slate-11);
    flex-grow: 1;
    font-size: 0.875rem;
    margin-block: 0.5rem 1.5rem;
    max-width: 18rem;
  }

  &:hover {
    border-color: var(--previous-brand-color--hover);
    box-shadow: 0 0.5rem 128rem -4rem var(--previous-brand-color--hover);

    :global {
      .button {
        background-color: var(--previous-brand-color--hover);
        border-color: var(--fill-color);

        &:hover {
          background-color: var(--fill-color);
        }
      }
      .filled {
        fill: var(--fill-color);
      }
    }
  }
}
.container {
  display: flex;
    flex-direction: column;
  margin: 0 auto;
  max-width: 68rem;
  padding: 0 1rem 4rem;
  width: 100%;

  @media screen and (min-width: 800px) {
    padding-inline: 2rem;
  }
}
.heading {
  color: var(--slate-11);
  font-weight: 600;
  letter-spacing: 0.2em;
  margin-left: 1.5rem;
  text-transform: uppercase;

  :global {
    span {
      position: relative;

      &::after {
        background-color: var(--slate-9);
        content: '';
        height: 1px;
        position: absolute;
          top: 50%;
          left: calc(100% + 0.75rem);
        width: 4rem;
      }
    }
  }
}
.logoWrapper {
  display: grid;
    place-items: center;
  height: 3rem;
  margin-bottom: 2rem;

  svg {
    max-height: 100%;
    max-width: 100%;
  }

  :global {
    .filled {
      fill: var(--slate-11);
      transition: fill 0.2s ease-in-out;
    }
  }
}
.tag {
  align-self: flex-start;
  border-radius: 0.25rem;
  display: flex;
    align-items: center;
  font-size: 0.75rem;
  height: 1.5rem;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  padding-inline: 0.5rem;
  position: relative;
    top: -0.5rem; left: -0.5rem;
  text-transform: uppercase;

  &:global {
    &.agency {
      background-color: var(--green-2);
      color: var(--green-9);
    }
    &.startup {
      background-color: var(--blue-2);
      color: var(--blue-9);
    }
  }
}
