$reflow-width: 23.5rem;

.container {
  background: linear-gradient(to right, var(--green-9), var(--blue-8), var(--orange-9));
  box-shadow: 0 4px 20px rgba(0, 0, 0, .25);
  color: white;
  display: flex;
    align-items: center;
  height: 2.5rem;
}
.content {
  display: flex;
    align-items: baseline;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
  margin-inline: auto;
  max-width: 42rem;
  padding: 0.75rem 1rem;

  span {
    font-size: 0.875rem;
    font-weight: 500;
  }
  i {
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
    height: 1rem;
    width: 1px;

    @media screen and (min-width: $reflow-width) {
      display: inline;
    }
  }
  a {
    display: flex;
      align-items: center;
      gap: 0.5rem;
    font-family: var(--font-mono);
    font-size: 0.75rem;
  }

  @media screen and (min-width: $reflow-width) {
    flex-direction: row;
    gap: 1rem;
    padding-block: 0.5rem;
  }
}
